<ion-content [fullscreen]="true">
  <div class="welcome-wrapper">
    
    <div class="hero-image-container">
      <img src="assets/image_f6bb4f.png" alt="Bienvenida MUN Sens">
    </div>

    <div class="text-content">
      <h1>¡Hola!</h1>
      <p>Te acompañamos en este camino con calma y mucho cariño.</p>
    </div>

    <div class="action-buttons">
      <ion-button class="main-btn" expand="block" mode="ios">
        <ion-icon slot="start" name="sparkles-outline"></ion-icon>
        ¿Cómo me siento hoy?
      </ion-button>
      
      <ion-button class="secondary-btn" expand="block" fill="clear" mode="ios">
        <ion-icon slot="start" name="book-outline"></ion-icon>
        Guía de consejos
      </ion-button>
    </div>

  </div>
</ion-content>